@model IEnumerable<ECommerce.Models.Category>


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered table-responsive">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a href="/Services/CompanyServices?SproviderId"> <img src="~/uploads/category/@item.Image" alt="@item.Image" style="width:160px; height:160px;" class="img-thumbnail" /></a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
